@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
body{
  font-family: 'Poiret One', cursive;
}

.jumbotron{
  background-image: url("../images/header2.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
    font-family: 'Poiret One', cursive;

}

.jumbotron h1,p{

text-align: center;
 padding-left: 3%;


}

.jumbotron h1{
  padding-top: 13%;
   text-align: center;
   color: white;

   text-transform: uppercase;

 }

 .jumbotron p{
   color:#baa8f7;
   padding-left: 20%;
   width:80%;
   padding-top: 3%;

 }

 @media screen and (max-width:1024px) {
  .jumbotron h1{
    padding-top: 40%;
  }

 }

 #arrowDown{
   font-size: 40px;
   color:white;
   padding-left: 50%;
 }
